@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_variables.scss';
$icon-font-path: '/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/';

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.main {
	margin: 10px 10px;
}

.host-list {
    height: 200px;
    overflow: scroll;
    margin-bottom: 20px;
}
